<form name="deleteForm" (ngSubmit)="confirmDelete(group.id)">
  <div class="modal-header">
    <h4 class="modal-title">Подтвердить операцию удаления</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p>Вы действительно хотите удалить этого пользователя?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Отмена</span>
    </button>
    <button type="submit" class="btn btn-danger">
      <span class="fa fa-remove"></span>&nbsp;<span>Удалить</span>
    </button>
  </div>
</form>
