<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Сброс пароля</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Email адрес не зарегистрирован!</strong> Пожалуйста проверьте и попробуйте снова.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Введите email, указанный при регистрации.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Проверьте ваш email для подробной информации о том, как сбросить пароль.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                          Email должен быть указан.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                          Email не верен.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                          Длина email должна быть хотя-бы 5 символов.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                          Email не может быть длиннее чем 50 символов.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Подтвердить новый пароль</button>
            </form>

        </div>
    </div>
</div>
