<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Пароль для [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Пароль изменен!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Произошла ошибка!</strong> Не удалось изменить пароль..
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
              Пароль и его подтверждение не совпадают!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Новый пароль</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required">
                          Пароль должен быть указан.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength">
                          Длина пароля должна быть хотя-бы 6 символов.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength">
                          Пароль не может быть длиннее чем 50 символов.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Подтверждение нового пароля</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                          Подтверждение пароля должно быть указано.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                          Длина подтверждения пароля должна быть хотя-бы 6 символов.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                          Подтверждение пароля не может быть больше чем 50 символов.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
