<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Reset password</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Ключ сброса отсутствует.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Выберите новый пароль</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Ваш пароль не может быть сброшен. Запомнить, запрос пароля действителен только в течение 24 часов.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Ваш пароль был сброшен.</strong> Пожалуйста </span>
                <a class="alert-link" (click)="login()">Войти</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
              Пароль и его подтверждение не совпадают!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Новый пароль</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                              Пароль должен быть указан.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                              Длина пароля должна быть хотя-бы 6 символов.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                              Пароль не может быть длиннее чем 50 символов.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Подтверждение нового пароля</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                              Подтверждение пароля должно быть указано.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                              Длина подтверждения пароля должна быть хотя-бы 6 символов.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                              Подтверждение пароля не может быть больше чем 50 символов.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Подтвердить новый пароль</button>
                </form>
            </div>

        </div>
    </div>
</div>
