<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Добро пожаловать!</h1>
        <p class="lead">Это ваша домашняя страница</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Вы вошли как пользователь {{account.login}}. </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>У вас еще нет учетной записи?</span>
                <a class="alert-link" routerLink="register">Зарегистрировать новую учетную запись</a>
            </div>
        </div>

        <p>
          Если у вас есть вопросы:
        </p>

        <ul>
            <li><a href="" target="_blank" rel="noopener">Test</a></li>
        </ul>

    </div>
</div>
